@using SADFM.Web.Shared;
@using SADFM.Data;
@{
    Layout = "/Views/Shared/_Anonymous.cshtml";
    ViewBag.PageTitle = "Notify";
}

<h4>Forgot password link has been sent to your email. Please follow the instructions in the email</h4>

