<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler,TechTalk.SpecFlow" />
    <section name="speccing" type="Speccing.Configuration.SpeccingSection,Speccing.Configuration" />
  </configSections>
  <appSettings>
    <add key="password_yoda" value="Z0r8@_THE_Gr33k"/>
    <add key="applicationRoot" value="http://localhost:58894/"/>
  </appSettings>
  <specFlow>
    <unitTestProvider name="MSTest" />
  </specFlow>
  <speccing>
    <versions>
      <version versionNumber="1.0.0.0" status="Active">
        <features>
          <feature file="Login.feature" />
        </features>
      </version>
    </versions>
  </speccing>
</configuration>