<div class="input-group">
  <input type="text" class="form-control" placeholder="Search for users" [(ngModel)]="query" (keyup.enter)="search()">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="search()">Search</button>
      </span>
</div>
<div class="loader" *ngIf="isLoading == true"></div>
<table class="table table-striped" *ngIf="isLoading == false">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email Address</th>
      <th>Is Active</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input class="form-control" type="text" [(ngModel)]="username" />
      </td>
      <td>
        <input class="form-control" type="text" [(ngModel)]="emailAddress" />
      </td>
      <td>No</td>
      <td>
        <button class="btn btn-primary" (click)="createUser()"><i class="fa fa-plus"></i>Create</button>
      </td>
    </tr>
    <tr *ngFor="let user of users" class="{{user.IsActive == 'Yes'? '' : 'danger'}}">
      <td>{{user.Username}}</td>
      <td>{{user.EmailAddress}}</td>
      <td>{{user.IsActive}}</td>
      <td>
        <a href="/#/administration/user/edit/{{user.Id}}" class="btn btn-success"><i class="fa fa-edit"></i>Edit</a>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary pull-left" (click)="previousPage()">Previous Page</button>
<button class="btn btn-primary pull-right" (click)="nextPage()">Next Page</button>