<h3>Facility Permissions</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Facility</th>
      <th>Permission</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <app-ajax-dropdown sourceUrl="/list/facilities" (trigger)="onChangeFacilityId($event)"></app-ajax-dropdown>
      </td>
      <td>
        <app-ajax-dropdown  sourceUrl="/list/permissions" (trigger)="onChangePermissionId($event)"></app-ajax-dropdown>
      </td>
      <td>
        <button class="btn btn-success"><i class="fa fa-plus no-margin"></i></button>
      </td>
    </tr>
    <tr *ngFor="let facilityPermission of facilityPermissions">
      <td>{{facilityPermission.Facility}}</td>
      <td>{{facilityPermission.Permission}}</td>
      <td>
        <button class="btn btn-danger"><i class="fa fa-trash no-margin"></i></button>
      </td>
    </tr>
  </tbody>
</table>