
@{
    ViewBag.Title = "Index";
}

<section class="hgroup">
    <div class="container">
        <h1>About us</h1>
        <h2>The South African Database for Functional Medicine (SADFM) is a South African based organization doing developmental research into healthcare outcomes.</h2>
        <ul class="breadcrumb pull-right">
            <li><a href="index.html">Home</a> </li>
            <li class="active">About us</li>
        </ul>
    </div>
</section>
<section class="article-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <p>The SADFM has developed an evidence-based reporting framework to convert patients’ functional abilities and behavioural observations into quantifiable data. This allows for collection and analysis of this valuable clinical information into a data base which in turn facilitates the design of meaningful reports which measure outcomes, monitor progress and direct care.</p>
                <p>Our objective is to develop a robust statistical model to identify the clinical and financial risk associated with the care of a group of patients that are currently considered to have “unpredictable outcomes”. </p>
                <p>Typically these “high risk” patients with unpredictable outcomes require complex care. This category of care is often required post-severe trauma, geriatric care and patients who suffer form multi-factorial medical conditions. This case-mix currently constitutes about 30% of patient admissions and accounts for 45% of the health SA Rands spent on in-patient care in South African hospitals.</p>
                <p>
                    <b>Three information gathering platforms underpin this process:</b>
                    <ul>
                        <li>The SADFM measurement tools that measure patient functionality</li>
                        <li>The SADFM Impairment Group Codes that groups similar case-mixes</li>
                        <li>
                            The SADFM Levels of Care that groups similar service-mixes according to a acuity model.
                            <ul>
                                <li>THE SADFM TOOLS</li>
                                <li>The SADFM tools operate within the WHO’s framework of the International Classification of Functional Disability & Health (ICF).</li>
                                <li>Platform 1: The SADFM’s six measurement tools that are designed to measure patient functionality along the healthcare continuum irrespective of the place of care, e.g. acute hospitals, sub-acute facilities and non-acute community based services. </li>
                            </ul>
                            The tools allow for a multi-faceted view of the patient’s functional ability:
                            <ul>
                                <li>Organs and systems</li>
                                <li>Activities of daily living</li>
                                <li>Independent living</li>
                                <li>Executive functioning</li>
                                <li>Preserving dignity in end-of-life care</li>
                                <li>Wound care</li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <h4>More tools are in the process of being designed.</h4>
                <img src="~/Content/images/about/measurementTools.png" class="img-responsive"/>
                <p>By comparing the difference between the admission and discharge scores of similar patients, the effectiveness and efficiency of similar healthcare services can be analysed. Similarly, the risk ratios of the healthcare programs – calculated on patient based evidence – can be reported in a peer review format.</p>
                <p>Cronbach’s Alpha has been used to test the reliability of the Alpha, Beta, Gamma and Delta tools. The tools were found to have a “high to very high” internal consistency.  Rasch analysis for construct validity is currently being undertaken.</p>
                <h4>THE SADFM IMPAIRMENT GROUP CODES</h4>
                <p>Platform 2: The SADFM’s Impairment Group Codes. These codes are used group the cases-mixes that are traditionally considered unpredictable in respect of healthcare outcomes. The codes also group patients with the same underlying pathology, and/or same burden of care, and/or same functional deficits. By grouping and coding these patients, one can track their progress and analyse predictability given similar treatment and care. The analysis also helps to gauge facility-performance across different case-mixes.</p>
                <h4>THE SADFM LEVELS OF CARE</h4>
                <p>Platform 3: The SADFM Level of Care codes. These group service-mixes that have similar intensity and/or use the similar resources and attach a cost dimension to the service rendered. Analysis of coded data allows the identification of good practice, i.e. achievement of optimal outcomes by means of “best” service at the “best” price. For example: the appropriateness of the outcome of rehabilitative care a patient who has had a left sided cerebral-vascular accident can be reviewed across all places of care - general ward, sub-acute unit, home-based or out-patient care.</p>
                <h4>Quality Management</h4>
                <p>The SADFM’s main objective is to harness risk by quantifying unpredictable case-mixes. However, facility and service managers are finding that the data collected and reports generated are becoming increasingly useful as “Quality Management Tools”.</p>
                <p>
                    <b>The following reports can be rendered by the SADFM: </b>
                    <ul>
                        <li>TQM – Total Quality Management</li>
                        <li>CQI – Continuous Quality Improvement Management</li>
                        <li>M&R – Monitoring and Evaluation Management</li>
                        <li>CG – Clinical Governance Management</li>
                    </ul>
                </p>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="service_teaser vertical">
                    <div class="service_photo">
                        <figure style="background-image:url(/Content/images/about/screenshot1.PNG)"></figure>
                    </div>
                    <div class="service_details">
                        <h2 class="section_header skincolored">Who you like a demo?</h2>
                        <a class="btn btn-primary" href="documentation/index.html">Request demo &nbsp; <i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

