@{
    ViewBag.Title = "Home Page";
    ViewBag.Slider = true;
}



<section class="call_to_action">
    <div class="container">
        <div class="row">
            <h3>South African based organization</h3>
            <h4> doing developmental research into healthcare outcomes</h4>
            <a class="btn btn-primary btn-lg" href="@Url.Action("","About")">Read more</a>
        </div>
        <hr />
        <div class="row">
            <p class="text-left">The South African Database for Functional Measures’ (SADFM) primary mission is to contribute to the development of nursing as an empirical science in South Africa. To achieve this, the SADFM’s researched and developed 
            new generation nursing measures on patient outcomes. The measures provide additional standardised data on patient improvement or decline. The nurse observes the patient within a structured format and arrives at a validated score. 
            The availability of such patient-evidence based data, provided routinely by the nursing profession, produces numerous new opportunities to the nursing profession. Importantly, it provides the nursing profession with an ability 
            to empirically quantify the value of the nursing process and care plans.
            </p>
            <p class="text-left">
            The SADFM nursing measures are validated with extensive qualitative methods to secure nursing utility and quantitative methods using Rasch analyses to ensure construct validity. As a result the SADFM measures function as 
            routine interval measures allowing the data to be used in statistical analyses.
            </p>
            <p class="text-left">
            Essentially the SADFM measures are a family of nursing tools establishing patient improvement (or decline) across the continuum of nursing care. This includes acute care, sub-acute care and non-acute care. 
            </p>
            <p class="text-left">
            The SADFM also provides the nursing profession with a web-based software application to enter the patient data and, if needed, the nursing and multi-disciplinary team’s progress reports. This application may communicate 
            patient specific outcomes in real-time to medical schemes, referring doctors, and if required, to family members. Passwords and logins are provided by the nurses.
            </p>
            <p class="text-left">
            The SADFM software is also designed to generate real-time performance reports on nursing effectiveness and efficiency based on patient outcomes. This reporting framework has the potential to evolve the nursing science 
            from an input based science to a patient-outcomes based science.
            </p>
            <p class="text-left">
            With the validated nursing measurements available, the SADFM’s further objective is to develop a robust statistical model to identify the clinical and financial risk associated with the care of a group of patients 
            that are currently considered to have “unpredictable outcomes”. These usually require complex restorative nursing care in sub-and non-acute specialised nursing facilities. They include broad case-mix groupings such as 
            post- trauma, geriatric care and patients suffering from complex medical conditions. These case-mixes currently constitutes about 30% of patient admissions in acute hospitals and accounts for 45% and more of the health 
            SA Rand spent on hospital care.
            </p>
        </div>
    </div>
</section>

<section class="features_teasers_wrapper">
    <div class="container">
        <div class="row">
            <div class="feature_teaser col-sm-4 col-md-4">
                <img alt="responsive" src="~/Content/images/home/riskmanagement.jpg">
                <h3>Our Work</h3>
            </div>
            <div class="feature_teaser col-sm-4 col-md-4">
                <img alt="responsive" src="~/Content/images/home/outcomes.jpg">
                <h3>Projects</h3>
            </div>
            <div class="feature_teaser col-sm-4 col-md-4">
                <img alt="responsive" src="~/Content/images/home/stats.jpg">
                <h3>Tools</h3>
            </div>
        </div>
    </div>
</section>
