<h3>User Details</h3>
<div class="row">
  <div class="col-md-3">
    <label>Username</label>
  </div>
  <div class="col-md-3">
    {{user?.Username}}
  </div>
  <div class="col-md-3">
    <label>Email Address</label>
  </div>
  <div class="col-md-3">
    {{user?.EmailAddress}}
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label>First Name</label>
  </div>
  <div class="col-md-3">
    {{user?.Firstname}}
  </div>
  <div class="col-md-3">
    <label>Last Name</label>
  </div>
  <div class="col-md-3">
    {{user?.Lastname}}
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label>Identification Number</label>
  </div>
  <div class="col-md-3">
    {{user?.IdentificationNumber}}
  </div>
  <div class="col-md-3">
    <label>Contact Number</label>
  </div>
  <div class="col-md-3">
    {{user?.ContactNumber}}
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label>Professional Body</label>
  </div>
  <div class="col-md-3">
    {{user?.ProfessionalBody}}
  </div>
  <div class="col-md-3">
    <label>Registration Number</label>
  </div>
  <div class="col-md-3">
    {{user?.RegistrationNumber}}
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label>Practice Number</label>
  </div>
  <div class="col-md-3">
    {{user?.PracticeNumber}}
  </div>
</div>