@model SADFM.WebApplication.Models.ForgotPasswordViewModel

@{
    Layout = "/Views/Shared/_Anonymous.cshtml";
}@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" required="" name="Username" value="@ViewBag.Username">
    </div>
    <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
}


