<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <EPONS Host="http://epons.sadfm.co.za" xdt:Transform="SetAttributes">
    <Email OverrideEmailAddress="" xdt:Transform="SetAttributes"/>
  </EPONS>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="Error/FriendlyError" xdt:Transform="Replace">
    </customErrors>
  </system.web>

  <connectionStrings xdt:Transform="Replace">
    <add name="SADFM" connectionString="data source=TESSERACT\SQL2016;Initial Catalog=SADFM_Live;User ID=sadfm;Password=sadfm;" />
    <add name="elmah" connectionString="data source=developersworkspace.co.za;Initial Catalog=Elmah;User ID=Elmah;Password=elmah123;" />
  </connectionStrings>
</configuration>
