<?xml version="1.0" encoding="utf-8"?>
<!--
  Więcej informacji dotyczących konfigurowania aplikacji platformy ASP.NET można znaleźć na stronie
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="SADFM" type="EPONS.Teddy.Client.Configuration.SADFMSection, EPONS.Teddy.Client" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <SADFM ApiEndpoint="http://api.epons.developersworkspace.co.za/api/v1" ApiKey="12345678">
  </SADFM>
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="EPONSFileAppender" />
    </root>
    <appender name="EPONSFileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\Temp\SADFM.Web.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultLanguage" value="en-GB" />
    <add key="MailServerType" value="Smtp" />
    <add key="SmtpPort" value="465" />
    <add key="EmailFromName" value="SADFM" />
    <add key="EmailFromAddress" value="admin@sadfm.co.za" />
    <add key="EmailUsername" value="admin@sadfm.co.za" />
    <add key="EmailPassword" value="sHe102mAs" />
    <add key="EmailHost" value="mail.sadfm.co.za" />
    <add key="EmailSsl" value="true" />
    <add key="Recipients" value="" />
    <add key="TimeoutMinutes" value="10" />
    <add key="DebugRecording" value="true" />
    <add key="LogSql" value="true" />
    <add key="DefaultCountry" value="SouthAfrica" />
  </appSettings>
  <connectionStrings>
    <add name="SADFMContext" connectionString="data source=.;initial catalog=SADFM;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="SADFMEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SADFM;Timeout=200;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="/Account/Login" protection="All" timeout="30" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="/" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <machineKey validationKey="25C91B328F69CD52F9209CB47DBFB9DD0CBC2FCB5904AA775DCDDD22E2E0E68043494B19CEAABF03866B5C1C00E654873D6A50EF2E1B79C815C6B609DCC648BE" decryptionKey="CCB102231AF1DE565083536C9C32582AB0FDB967AFAE98B3649F9819052510EA" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Font" verb="GET" path="*.woff2" modules="StaticFileModule" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.8.0" newVersion="5.5.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>