@model System.Data.DataTable
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>EPONS | Database | Saved Query</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Results for Saved Query - @Request.QueryString["name"]</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    @foreach (var column in Model.Columns)
                    {
                        <th>@column</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Rows.Cast<System.Data.DataRow>())
                {
                    <tr>
                        @foreach (var column in Model.Columns)
                        {
                            <td>@row[((System.Data.DataColumn)column).ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
