@model IEnumerable<EPONS.Teddy.Application.ValueObjects.ListItem>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="@Url.Action("RemoveMeasurementTool","Facility", new { measurementToolId = item.Id, facilityId = Request["facilityId"] })" class="btn btn-danger pull-right btn-action">Remove</a>
            </td>
        </tr>
    }

</table>


