@model EPONS.Teddy.Presentation.Models.UserLogin
@{
    ViewBag.Title = "Invalid";
    Layout = "~/Views/Shared/_Anonymous.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <h2 class="font-bold">Authentication Failed</h2>

        <p>
           By using an OAuth2 Provider such as Google. You'll be required to give EPONS access to be able to login.
        </p>

    </div>
</div>

