@using SADFM.Web.Shared
<div class="footer fixed">
    <div class="pull-right">
        @Library.GetText("ApplicationLongName") (Version @Utilities.Version)
    </div>
    <div>
        <strong>Copyright</strong> @Library.GetText("ApplicationLongName") &copy; @DateTime.Today.Year
    </div>
</div>
