@model EPONS.Teddy.Presentation.Models.ReportFacilityPerformanceReport
@{
    ViewBag.Title = "Facility Performance Report";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10">
        <h2>Facility Performance Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("","")">Report</a>
            </li>
            <li class="active">
                <strong>Facility Performance Report</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Facility Performance Report</h5>
                </div>
                <div class="ibox-content">
                    @Html.Partial("_ViewDataTable", Model.DataTable)
                </div>
            </div>
        </div>
    </div>
</div>


@section styles {
    <link href="~/Content/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/chosen/chosen.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Content/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/plugins/chosen/chosen.jquery.js"></script>
    <script>

        $(document).ready(function () {


        });

    </script>
}











