<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Welcome to EPONS</h3>
        </div>
        <div class="panel-body">
          <div role="form">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="Username" type="text" autofocus [(ngModel)]="username" (keyup)="validateForm()">
                <p class="text-danger" *ngIf="isValidUsername == false">
                  Username cannot be empty
                </p>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" type="password" value="" [(ngModel)]="password" (keyup)="validateForm()">
                <p class="text-danger" *ngIf="isValidPassword == false">
                  Password cannot be empty
                </p>
              </div>
              <p class="text-danger text-center" *ngIf="message">
                {{message}}
              </p>

              <button class="btn btn-lg btn-success btn-block" (click)="login()">Login</button>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>