@{
    ViewBag.Title = "N3";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Chart.js</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                <a>Graphs</a>
            </li>
            <li class="active">
                <strong>N3</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Line Chart Example
                        <small>With custom colors.</small>
                    </h5>
                    <div id=ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div>
                        <linechart data="data" options="options" mode="" width="" height=""></linechart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/plugins/angular/angular.min.js"></script>
    <script src="~/Scripts/plugins/n3line/line-chart.min.js"></script>

    <script type="text/javascript">
        angular.module('myApp', ['n3-line-chart']); 
        $scope.data = [
  { x: 0, value: 4, otherValue: 14 },
  { x: 1, value: 8, otherValue: 1 },
  { x: 2, value: 15, otherValue: 11 },
  { x: 3, value: 16, otherValue: 147 },
  { x: 4, value: 23, otherValue: 87 },
  { x: 5, value: 42, otherValue: 45 }
        ];
        $scope.options = {
            axes: {
                x: { key: 'x', labelFunction: function (value) { return value; }, type: 'linear', min: 0, max: 10, ticks: 2 },
                y: { type: 'linear', min: 0, max: 1, ticks: 5 },
                y2: { type: 'linear', min: 0, max: 1, ticks: [1, 2, 3, 4] }
            },
            series: [
              { y: 'value', color: 'steelblue', thickness: '2px', type: 'area', striped: true, label: 'Pouet' },
              { y: 'otherValue', axis: 'y2', color: 'lightsteelblue', visible: false, drawDots: true, dotSize: 2 }
            ],
            lineMode: 'linear',
            tension: 0.7,
            tooltip: { mode: 'scrubber', formatter: function (x, y, series) { return 'pouet'; } },
            drawLegend: true,
            drawDots: true,
            columnsHGap: 5
        };
    </script>
}





