@{
    ViewBag.Title = "Check your emails";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    Please check you emails in the next 15 minutes for recieve the report.
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

}

@section Styles {

}
