@model EPONS.Teddy.Presentation.Models.UserForgotPassword
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Anonymous.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <div class="ibox-content">

            <h2 class="font-bold">Forgot password</h2>

            <p>
                If you need a new password, type your username below and click the "Reset password" button. A reset link will be sent to your registered email address.
            </p>

            <div class="row">

                <div class="col-md-12">
                    @Html.Partial("_Details", Model.Credentials)
                </div>
            </div>
        </div>
    </div>
</div>

